[https]
  proxy = http://127.0.0.1:51837
[user]
	name = Civitasv
	email = hscivitasv@gmail.com
	signingkey = DF474EA79AEF6CD2
[credential]
	helper = store
[core]
	autocrlf = input
[pull]
	rebase = false
[diff]
	tool = nvimdiff
[difftool]
	prompt = false
[commit]
	gpgsign = true
[http]
	proxy = http://127.0.0.1:51837
