[user]
	name = Civitasv
	email = hscivitasv@gmail.com
[pull]
	rebase = true
[http]
	proxy = http://127.0.0.1:7890
[https]
	proxy = http://127.0.0.1:7890

[core]
  pager = delta
[interactive]
  diffFilter = delta --color-only -features=interactive
[delta]
  navigate = false
  line-numbers = false
  side-by-side = false
  features = decorations
[merge]
  conflictstyle = diff3
[diff]
  colorMoved = default
