let mapleader=" "

""" Basic Options
set clipboard=unnamedplus " enables the clipboard between Neovim and other applications

""" Plugins  --------------------------------
set surround
set commentary
set argtextobj

""" Plugin settings -------------------------
let g:argtextobj_pairs="[:],(:),<:>"

" <C-n> seems to me as a better solution than <M-n>,
" but we should finally support vim-visual-multi because vim-multiple-cursors is deprecated now
map <C-n> <Plug>NextWholeOccurrence

""" Common settings -------------------------
set showmode
set so=5
set incsearch

""" Idea specific settings ------------------
set ideajoin
set ideastatusicon=orange

""" My Mappings -----------------------------

map gd <Action>(GotoDeclaration)
map ge <Action>(GotoNextError)
map gi <Action>(GotoImplementation)
map gt <Action>(GotoTest)
map gu <Action>(FindUsages)
map gk <Action>(Back)
map gj <Action>(Forward)

map <leader>d <Action>(Debug)
map <leader>r <Action>(Run)
map <leader>n <Action>(RenameElement)
map <leader>c <Action>(Stop)
map <leader>f <Action>(ReformatCode)

map <leader>p <Action>(SelectInProjectView)
map <leader>a <Action>(Annotate)
map <leader>h <Action>(Vcs.ShowTabbedFileHistory)

map <leader>b <Action>(ToggleLineBreakpoint)
map <leader>o <Action>(FileStructurePopup)

" Toggle case and start typing. E.g. `<leader>iget`: `property` -> `getProperty`
map <leader>i ~hi
" Remove selection and toggle case. E.g. `v2l<leader>u`: `getProperty` -> `property`
vmap <leader>u d~h

""" Strict mode for development ---------------
set ideastrictmode
