let mapleader=" "

""" Basic Options
set clipboard=unnamedplus " enables the clipboard between Neovim and other applications
set relativenumber
set wrap
set linebreak
set expandtab
set shiftwidth=2
set ignorecase
set noerrorbells
set autoread
set showmode
set so=5
set incsearch

""" Plugins  --------------------------------
set surround
set multiple-cursors
set commentary
set easymotion
set argtextobj

""" Plugin settings -------------------------
let g:argtextobj_pairs="[:],(:),<:>"

""" Idea specific settings ------------------
set ideajoin
set ideastatusicon=gray
set clipboard+=ideaput

""" Keymapping -------------------------------
""" Normal Mode
noremap U <C-r>
map j gj
map k gk
noremap n nzzzv
noremap N Nzzzv
noremap <C-h> <C-w>h
noremap <C-j> <C-w>j
noremap <C-k> <C-w>k
noremap <C-l> <C-w>l

noremap <Tab> :bn<CR>
noremap <S-Tab> :bp<CR>

map <A-Down> <Action>(MoveStatementDown)
map <A-Up> <Action>(MoveStatementUp)

map <C-s> <Action>(Find)
map <C-f> <Action>(FindInPath)

map <leader>gg <Action>(CheckinProject)
map <leader>f= <Action>(ReformatCode)

map <leader>cb <Action>(BuildProject)
map <leader>cr <Action>(Run)
map <leader>cd <Action>(Debug)

map <leader>db <Action>(ToggleLineBreakpoint)
map <A-j> <Action>()
map <A-k> <Action>()
map <A-h> <Action>()
map <A-i> <Action>()
map <A-o> <Action>()
